
actividades/actividad-3/workspace/pokeapi.code-workspace
/.metadata/
/build/
appclient/home.html
appclient/js/main_test.js
appclient/img/users/avatar1.png
appclient/img/users/avatar2.png
appclient/img/users/avatar3.png
appclient/img/users/avatar4.png
appclient/img/users/avatar5.png
appclient/img/users/avatar6.png
appclient/img/users/avatar7.png
appclient/img/users/avatar8.png
appclient/img/users/avatar9.png
appclient/img/users/avatar10.png
